<div class="nav">
    <a href="/posts">Home</a>
    <a href="/new-post">New Post</a>
    <a href="<%= '/users/' + currentUser.id %>">Profile</a>
    <a href="/users">All Users</a>
    <a href="/logout">Logout</a>
</div>