<%- include('header') -%>

<%- include('nav') -%>
<br><br>
<h2>Create New Post</h2>
<form action="/new-post" method="post">
    <textarea name="text" id="text" cols="30" rows="10" required placeholder="What's on your mind"></textarea>
    <br><br>
    <button>Post</button>
</form>
    
<%- include('footer') -%>
