<%- include('header') -%>

<%- include('nav') -%>
<br><br>
<h2>Add Comment</h2>
<form action="" method="post">
    
    <textarea name="text" id="text" cols="30" rows="10" required></textarea>
    <br><br>
    <button>Post</button>
</form>
    
<%- include('footer') -%>
