<%- include('header') -%>

<div class="nav">
    <a href="/login">Login</a>
</div>

<div class="container">    
    <form action="/" method="POST" class="form">
        <h1>Create an Account</h1>
        <br>
        <input name="username" id="username" placeholder="Username" />
        <br><br>
        <input name="password" id="password" type="password" placeholder="Password" />
        <br><br>
        <input name="conpass" id="conpass" type="password" placeholder="Confirm Password" />
        <br><br>
        <button>Sign Up</button>
    </form>
    
    <form action="/login" method="POST">
        or
        <br><br>
        <input type="hidden" name="password" value="g">
        <button name="username" value="Guest">Continue as Guest</button>
    </form>
</div>

<% if(locals.errors) {%>
    <% for(let err of errors) {%>
        <h3><%= err.msg %></h3>
    <% } %>
<% }%>

<%- include('footer') -%>
