* {
    font-family: "Montserrat", serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #030712;
    color: white;
    
    text-align: center;
}

a {
    color: #10b981;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    max-width: 400px;
    height: 80vh;
    margin: 0 auto;
}

form {
    display: inline-block;
}

.form {
    border: 2px solid #047857;
    padding: 15px;   
}

.container button, .users button, .newPost {
    background-color: #047857;
    color: white;
    border: 0;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.container button:hover:enabled, .users button:hover:enabled, .newPost:hover:enabled {
    cursor: pointer;
    background-color: #10b981;
}

button:disabled {
    color: white;
}

input {
    font-size: 1.2rem;
}

h1 {
    margin: 0;
}

.welcome {
    margin-top: 15px;
}

.nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 15px 0;
    font-size: 1.5rem;
    background-color: #111827;
}

.posts {
    display: grid;
    grid-template-columns: 900px;
    gap: 35px;
    justify-content: center;
}

.post {
    display: flex;
    gap: 15px;
    text-align: left;
    border: 3px solid #047857;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.user {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 0;
    flex-basis: 500px;
    font-size: 0.9rem;
    color: #a5a5a5;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    font-size: 1.2rem;
}

.comment {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.name {
    font-size: 1.6rem;
}

.text {
    color: white;
    /* font-family: Arial, sans-serif; */
    font-size: 1.2rem;
}

img {
    width: 100px;
    height: 100px;
}

.users {
    margin: 0 auto;    
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 10px;   
    font-size: 1.6rem;
}

.users > div {
    padding: 10px;
    border: 2px solid #047857;
}

.follow {
    display: flex;
    justify-content: space-evenly;
}